@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



/* MAIN */
.container {
    width: 1280px;
    margin: 0 auto;
    text-align: center;
}

button {
    margin-top: 50px;
    padding: 16px 32px;
    background-color: #F9F9F9;
    border: none;
    width: fit-content;

    color: #2A254B;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.button-sign-up {
    margin-top: 50px;
    padding: 16px 32px;
    background-color: #2A254B;
    border: none;
    width: fit-content;

    color: #F9F9F9;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}


/* FONTS */
.h1-logo {
    color: #22202E;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h2 {
    color: #2A254B;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

h3 {
    color: #2A254B;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p {
    color: #2A254B;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.link {
    color: #726E8D;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.link:hover {
    color: #2A254B;
}

/* ICON */
.search {
    background-image: url(../image/Search.svg);
}

.shopping-card {
    background-image: url(../image/Shopping--cart.svg);
}

.user-accaunt {
    background-image: url(../image/User--avatar.svg);
}


.social-icons a {
    height: 24px;
    width: 24px;
}

.linkedin {
    background-image: url(../image/Logo--linkedin.svg);
    background-size: cover;
}

.facebook {
    background-image: url(../image/Logo--facebook.svg);
    background-size: cover;
}

.instagram {
    background-image: url(../image/Logo--instagram.svg);
    background-size: cover;
}

.skype {
    background-image: url(../image/Logo--skype.svg);
    background-size: cover;
}

.twitter {
    background-image: url(../image/Logo--twitter.svg);
    background-size: cover;
}

.pinterest {
    background-image: url(../image/Logo--pinterest.svg);
    background-size: cover;
}


/* HEADER */
.header {
    border-bottom: 1px solid #EBE8F4;
    background: #FFF;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
}
.header-content {
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-items {
    padding-left: 150px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-links {
    display: flex;
    flex-direction: row;
    gap: 44px;
}

/* ACTIONS */
.header-actions {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.header-actions a {
    display: block;
    width: 16px;
    height: 16px;
    background-size: contain;
}


/* MAIN */
.page-headers {
    margin-top: 80px;
    padding-top: 80px;
}

.filters {
    margin-top: 24px;
    padding: 8px 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sorting {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filters select {
    border: none;
    padding: 12px 24px;

    color: #2A254B;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}






/* listings */
.listings-item {
    margin-top: 28px;
    display: grid;
    grid-template-columns: repeat(4, 305px);
    justify-content: space-between;
    row-gap: 48px;
}

.product-card {
    text-align: left;
    display: block;
    width: 305px;
    height: 462px;
    box-sizing: border-box;
}

.photo {
    width: 100%;
    height: 375px;
}

.card-name {
    margin-top: 24px;

    color: #2A254B;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.card-price {
    margin-top: 8px;

    color: #2A254B;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

/* CARD PHOTOS */
#card-1 .photo{
    background-image: url(../image/chair.png);
}
#card-2 .photo {
    background-image: url(../image/vase.png);
}
#card-3 .photo {
    background-image: url(../image/vase\ 2.png);
}
#card-4 .photo {
    background-image: url(../image/lamp.png);
}
#card-5 .photo {
    background-image: url(../image/chair.png);
}
#card-6 .photo {
    background-image: url(../image/vase.png);
}
#card-7 .photo {
    background-image: url(../image/vase\ 2.png);
}
#card-8 .photo {
    background-image: url(../image/lamp.png);
}
#card-9 .photo {
    background-image: url(../image/chair.png);
}
#card-10 .photo {
    background-image: url(../image/vase.png);
}
#card-11 .photo {
    background-image: url(../image/vase\ 2.png);
}
#card-12 .photo {
    background-image: url(../image/lamp.png);
}



/* email-sign-up */
.email-sign-up {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.sign-up-photo {
    height: 520px;
    width: 100%;
    background-image: url(../image/Image-sign-up.jpg);
    background-size: cover;
}

.sign-up-content {
    padding: 70px 47px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.sign-up-text {
    text-align: left;
}

.sign-up-text p {
    margin-top: 20px;
}


/* FOOTER */
.footer-content p {
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-content a {
    color: #FFF;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.copyright p {
    color: #FFF;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.footer {
    background-color: #2A254B;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 60px 0;
    border-bottom: solid 1px #4E4D93;
}

.footer-links {
    padding-right: 90px;
    display: flex;
    justify-content: space-between;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: left;
}

.footer-map {
    width: 100%;
    height: 100%;
    background-image: url(../image/map.jpg);
    background-size: cover;
}

.copyright {
    padding: 22px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.social-icons {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

